// Minha página principal PUG.
doctype html
html 
    include ./includes/header.pug
    body 
        h1 Minha primeira página PUG 
        p Olá, pessoal. Essa é a minha primeira página criada em PUG

        script(src="script.js") 

        include ./includes/footer.pug